@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
 
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
 
  .app-bar .app-bar__menu {
    display: none;
  }
 
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
}
 
@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

/*Beranda*/
@media screen and (max-width: 975px) {
  .about{
    display: flex;
    flex-direction: column;
  }
  
  .aboutImg{
    display: flex;
    justify-content: center;
  }
  
  .cards-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  }
  
  @media screen and (max-width: 750px){
    article{
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      justify-content: center;
      gap: 5rem;
    }
    .cards-project{
      display: flex;
      flex-wrap: wrap;
    }
    .join .button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 490px) {
    my-navbar{
      width: 100%;
    } 
    main{
      width: 100%;
    }
    article{
      width: 100%;
      padding: 0 20px;
    }
    .about{
      flex-direction: column;
    }
    .aboutImg{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .aboutDescription{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 12px;
      padding: 0 25px;
    }
    .aboutWe {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0px;
  }
  .bg-join {
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    display: grid;
    justify-items: center;
    align-items: center;
    border: solid 1px black;
    background-color: whitesmoke;
    height: 200px;
    width: 100%; /* Ensure the width takes up the full available space */
    max-width: 400px; /* Optional: Set a max width if desired */
    margin: 0 auto; /* Center the element horizontally */
  }
  
  
    my-footer{
      width: 100%;
    }
    .article-list{
      justify-content: center;
    }
  }