* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: #9BCF53;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
.app-bar .app-bar__navigation ul li a {
  text-decoration: none;
  background-color: #ffffff;
  z-index: 1;
  color: #9BCF53;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  outline: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}
.app-bar .app-bar__navigation ul li a::after{
  background-color: #9BCF53;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;

  position: absolute;
  border: none;
  border-radius: 16px;
}
.app-bar .app-bar__navigation ul li .navbar-login{
 color: white;
 background-color: #FECB02;
 border-radius: 16px;
}
.app-bar .app-bar__navigation ul li .navbar-login::after{
  background-color: #F58634;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  border: none;
  border-radius: 16px;
 }
.app-bar .app-bar__navigation ul li a:hover{
  color: #ffffff;
  font-weight: bold;
}
.app-bar .app-bar__navigation  li a:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
    border-radius: 16px;
  }
  
.app-bar .app-bar__navigation li  a:active {
    top: 2px;
    border-radius: 16px;
  }
/*
  Hero
*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/image_1.png'); 
  background-size: cover;
  background-position: center;
  min-height: 380px;
  width: 100%;
}

.overlay {
  position: unset;
  width: 100%;
  height: 380px;
  background-color: #560000ab;
}
.hero h2 {
  padding: 5rem;
  text-align: center;
  position: unset;
  color: #fff;
  padding-top: 10rem;
  
}